.code-preview {
	width: 100%;
	margin: 0 auto;
	border: 6px solid var(--tertiary);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	background: var(--tertiary);

}

.code-preview iframe {
	height: 300px;
	width: 100%;
	margin: 0 auto;
	border: 0;
	background: var(--code-bg);
	height: 100%;
}

.code-preview::before {
	content: attr(data-url);
	color: var(--secondary);
	background: var(--code-bg);
	width: 80%;
	height: 50%;
	margin: 5px auto;
	border-radius: 5px;
	border-width: 6px 20px;
	box-sizing: border-box;
	text-align: center;
	font-size: 8pt;
	padding: 5px;
}