<div class="code-preview" {{ with .Get "url" }}data-url="{{ . }}"{{end}}>
    <iframe srcdoc="{{ partial "code-preview.html" (dict "inner" .Inner "placeholder" (or (.Get "placeholder") "") )  | safeHTMLAttr }}">
    </iframe>
</div>

{{ range $key, $value := .Scratch.Get "code-preview-source" }}
<p><details>
<summary markdown="span">{{ $key }}</summary>
{{ highlight $value $key }}
</details></p>
{{ end }}

{{ define "partials/code-preview.html" }}
<!doctype html>
<html lang="en">
<style>
    html, body {
        height: 100%; width: 100%; overflow: hidden; font-family: sans-serif; 
    }

    * {
        box-sizing: border-box;
    }

    body::after {
        content: '{{ .placeholder | safeURL }}';
        position: absolute;
        color: #777;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
</style>
{{ .inner }}
</html>
{{ end }}