<figure class="code-preview" {{ with .Get "url" }}data-url="{{ . | safeURL }}"{{end}}>
    <iframe {{ if not (.Get "insecure") }}sandbox="allow-scripts"{{ end }} loading="lazy" srcdoc="{{ partial "code-preview.html" (dict "inner" .Inner "placeholder" (or (.Get "placeholder") "") )  | safeHTMLAttr }}">
    </iframe>
</figure>
<div class="code-preview--source">
{{- range $key, $value := .Scratch.Get "snippets" }}
<details class="code-preview--file" {{ if $value.open }}open{{ end }}>
<summary markdown="span">{{ $value.language }}</summary>
<div class="code-preview--file-content">
{{ highlight $value.source $value.language }}
</div>
</details>
{{- end }}
</div>

{{ define "partials/code-preview.html" }}
<!doctype html>
<html lang="en">
<style>
    html, body {
        height: 100%;
        width: 100%;
        font-family: sans-serif; 
        color: rgb(218, 218, 219);
    }

    *, *::after, *::before {
        margin: 0;
        box-sizing: border-box;
    }

    body::after {
        content: '{{ .placeholder | safeURL }}';
        position: absolute;
        color: #777;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
</style>
<body>
{{ .inner }}
</body>
</html>
{{ end }}